@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    font-family: 'Dancing Script', cursive;
    color: beige;
}

body {
    display: grid;
    background-image: url(Stack-of-cheeseburgers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    justify-items: center;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    height: 100vh;
    width: 50%;
    justify-items: center;
    background-color: rgba(250, 183, 96, 0.751);
    padding: 10px;
}

h1 {
    font-family: 'Dancing Script', cursive;

}